{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "singleAttributePerLine": true
}
